*{
    margin: 0;
    padding: 0;
}

nav{
    position: absolute;
    width: 100%;
    font-family:Arial;
    text-align: end;
}
button{
    background-color: transparent;
    border: none;
    margin: 1em 0;
    padding: 1em;
    color: white;
    font-size: large;
    font-weight: bold;
}
.btn_1, .btn_2, .btn_3{
    border-right: 1px solid blanchedalmond;
}

.geek{
    top: 0;
    width: 100%;
    z-index: -50;

}
.geek img{
    width: 100%;
    margin-bottom: 2em;

}
h2{
    font-family: 'BetonEF';
    text-align: center;
    color: #4e44fe;
    font-size: 3em;
    text-shadow: 3px 3px 5px black;
    margin-bottom: 1em;
}
p{
    text-align: center;
    margin-bottom: 2em;
}

.ilustration {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}
.prestation{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    left: 3%;
    background-color: #4e44fe;
    margin-top: 1em;
    padding-top: 2em;
    padding-left: 2em;
    width: 28%;
    height: 400px;
    border-radius: 1em;
}
.prestation p{
    text-align: start;
    margin-bottom: 2em;
    padding-right: 1em;
    color: blanchedalmond;

}

.ilustration img{
    position: relative;
    right: 10%;
    width: 35%;
    margin-top: 4em;
}
.map{
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}
#map{
    width: 500px;
    height: 500px;
    overflow: hidden;
}

form{ 
    display: flex;
    flex-direction: column;
    background-color: #4e44fe;
    border-radius: 1em;
    box-shadow: 3px 3px 5px black;
    width: 50%;
    padding: 3em;
    margin: auto;
    margin-bottom: 2em;
}
:focus{
    outline: none;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
}
input{
    margin-bottom: 2em;
    padding: .5em .2em;
    border: transparent;
    border-radius: 0.2em;
}
textarea{
    margin-bottom: 2em;
    border-radius: 0.5em;
}
button[type=submit]{
    margin: auto;
    padding: 1em;
    background-color: blanchedalmond;
    border-radius: 0.5em;
    width: 50%;
    cursor: pointer;
    color: #4e44fe;

}
